@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
}

.heading {
    text-align: center;
    font-family: "Delius", cursive;
    font-size: 2rem;
    margin-top: 1.5rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 10px;
}
.time{
    border: 2px solid white;
    height: 7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
   
}
.sessions{
    position: absolute;
    right: 26rem;
}
.hours::before{
    content: "";
    width:8px;
    height: 8px;
    background-color: rgb(209, 21, 21);
    border-radius: 50%;
    position: absolute;
    top: 40.5%;
}
.minutes::before{
    content: "";
    width:8px;
    height: 8px;
    background-color: rgb(213, 243, 14);
    border-radius: 50%;
    position: absolute;
    top: 40.5%;
}
.seconds::before{
    content: "";
    width:8px;
    height: 8px;
    background-color: rgb(42, 39, 247);
    border-radius: 50%;
    position: absolute;
    top: 40.5%;
}