@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: "Delius", cursive;
}

.heading {
    text-align: center;
    font-family: "Delius", cursive;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 10px;
}

.time {

    height: 7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    

}
.hours{
    background: conic-gradient(red 0deg, red 0deg, white 0deg);
    transition: all ease;
}
.minutes{
    background: conic-gradient(rgb(244, 237, 13) 0deg, rgb(244, 237, 13) 0deg, white 0deg);
    transition: all ease;
}
.seconds{
    background: conic-gradient(rgb(51, 42, 231) 0deg, rgb(51, 42, 231) 0deg, white 0deg);
    
}


.circle {
    width: 6.7rem;
    height: 6.7rem;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    
}

.clock {
    font-weight: bold;
    z-index: 3;
    position: absolute;
  
}
.sessions {
    position: absolute;
    right: 26rem;
}
.date p{
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
}